
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginComplete</title>
</head>
<body>
    <div>
        @Session["UserId"]
        @Session["UserEmail"]
        @Session["UserGivenName"]
        @Session["AccessToken"]
        <br />
        <a href="@Url.Action("Logout", "Login")">Logout</a>
    </div>
</body>
</html>

@if (TempData["message"] != null)
{
    <script>
        $(function () {
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        });
    </script>
}